/*Importação das fontes de texto utilizadas*/
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

/*Resetando as configrações da página*/
*{
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

/*Variantes para facilitar a reutilização de algumas coisas*/
:root{

    --dark-background-color: #252B42;
    --primary-color: #23A6F0;
    --font: 'Montserrat', sans-serif;
}

/*Configurações do corpo*/
body{
    font-family: var(--font);
    font-size: 0.60875em;
    background-color: var(--dark-background-color);
}

/*Configurações do Header início*/
.topo{
    background-color: aqua;
    display: flex;
    justify-content: center;
    
}

.container{
    background-color: blueviolet;
    width: 89%;
    display: flex;
    justify-content:space-between;
    align-items: center;
}

.lado-esquerdo{
    background-color: brown;
    display: flex;
    justify-content:space-between;
    width: 50%;
}

.menu{
    display: flex;
    justify-content: space-evenly;
}

.lado-direito{
    background-color: chartreuse;
}

ul{
    display: flex;
    list-style-type: none;
}


/*767px*/
@media screen and (max-width: 47.9375em){
   
}
/*Configurações do Header início*/
